@media screen and (max-width:768px) {

    .img-logo {
        display: none;
    }
    
}

@media screen and (max-width:576px) {

    .img-logo {
        display: none;
    }
    
}

@media screen and (max-width:412px) {

    .img-logo {
        display: none;
    }
    
}

@media screen and (max-width:360px) {

    .img-logo {
        display: none;
    }
    
}

// .img-logo{
//     border-right: 1Px solid #8c90a8; padding-right: 10px;
// }