<div>
  <!--[if lt IE 8]>
    <p class="browserupgrade">
      You are using an <strong>outdated</strong> browser. Please
      <a href="http://browsehappy.com/">upgrade your browser</a> to improve your
      experience.
    </p>
  <![endif]-->

  <!-- Header Area Start -->
  <header class="top">
    <div class="header-area header-sticky fixed">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="logo d-flex">
              <div class="" style="width: 100px">
                <a href="index.html"
                  ><img
                    src="assets/img/umng/logo.png"
                    style="width: 70%"
                    alt="eduhome"
                /></a>
              </div>
              <div
                class=""
                style="width: 300px !important; padding-top: 15px !important"
              >
                <span class="fs-5 text-white" style="font-weight: 700">
                  UMNG ACADEMIC</span
                >
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="content-wrapper one">
              <!-- Main Menu Start -->
              <div class="main-menu one text-end">
                <nav>
                  <ul>
                    <li>
                      <a routerLink="/accueil">Accueil</a>
                    </li>
                    <li>
                      <a routerLink="/about">A propos</a>
                    </li>
                    <li>
                      <a routerLink="/cours">Cours</a>
                      <ul>
                        <li><a routerLink="cours">cours</a></li>
                        <li>
                          <a routerLink="course-details.html"
                            >détails des cours</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a routerLink="/evenements">Evénement</a>
                      <ul>
                        <li><a routerLink="event">Evénements</a></li>
                        <li>
                          <a routerLink="event-details.html"
                            >Détails des évènements</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li class="hidden-sm">
                      <a routerLink="/teachers">Enseignants</a>
                      <ul>
                        <li><a routerLink="/teachers">enseignants</a></li>
                        <li>
                          <a routerLink="teacher-details.html"
                            >détails des enseignants</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a routerLink="/blogs">Blog</a>
                      <ul>
                        <li><a routerLink="/blogs">Blog</a></li>
                        <li>
                          <a routerLink="blog-details.html">Détails du blog</a>
                        </li>
                      </ul>
                    </li>
                    <li><a routerLink="/contacts">Contact</a></li>
                  </ul>
                </nav>
              </div>
              <div class="mobile-menu one"></div>
              <!-- Main Menu End -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Header Area End -->
  <!-- Background Area Start -->
  <section id="slider-container" class="slider-area">
    <div class="slider-owl owl-theme owl-carousel">
      <!-- Start Slingle Slide -->
      <div
        class="single-slide item"
        style="background-image: url(assets/img/umng/B9KkvoPIMAAWHHx.jpg)"
      >
        <!-- Start Slider Content -->
        <div class="slider-content-area">
          <div class="container">
            <div class="row">
              <div class="col-lg-7 col-md-offset-left-5">
                <div class="slide-content-wrapper">
                  <div class="slide-content">
                    <h3>UNIVERSITE</h3>
                    <h2>MARIEN N'GOUABI</h2>
                    <p>
                      L'université MARIEN N'GOUABI est un lieu unique où vous
                      aurez l'opportunité d'élargir vos horizons, de nourrir
                      votre curiosité et de développer vos compétences. Que vous
                      soyez à la recherche de nouvelles connaissances ou d'une
                      expérience enrichissante, notre université est là pour
                      vous accompagner dans votre parcours académique.
                    </p>
                    <a class="default-btn" href="about.html">Apprendre plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Start Slider Content -->
      </div>
      <!-- End Slingle Slide -->
      <!-- Start Slingle Slide -->
      <div
        class="single-slide item"
        style="
          background-image: url(assets/img/umng/ConcoursEtudiantBrazza.jpg);
        "
      >
        <!-- Start Slider Content -->
        <div class="slider-content-area">
          <div class="container">
            <div class="row">
              <div class="col-lg-7 col-md-offset-left-5">
                <div class="slide-content-wrapper text-start">
                  <div class="slide-content">
                    <h3>UNIVERSITE MARIEN N'GOUABI</h3>
                    <h2>PROPER HUMANITY</h2>
                    <p>
                      I must explain to you how all this mistaken idea of
                      denouncing pleasure and prsing pain was born and I will
                      give you a complete account of the system
                    </p>
                    <a class="default-btn" href="about.html">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Start Slider Content -->
      </div>
      <!-- End Slingle Slide -->
      <!-- Start Slingle Slide -->
      <div
        class="single-slide item"
        style="background-image: url(assets/img/umng/dsc_0944.jpg)"
      >
        <!-- Start Slider Content -->
        <div class="slider-content-area">
          <div class="container">
            <div class="row">
              <div class="col-lg-7 col-md-offset-left-5">
                <div class="slide-content-wrapper">
                  <div class="slide-content">
                    <h3>UNIVERSITE MARIEN N'GOUABI</h3>
                    <h2>PROPER HUMANITY</h2>
                    <p>
                      I must explain to you how all this mistaken idea of
                      denouncing pleasure and prsing pain was born and I will
                      give you a complete account of the system
                    </p>
                    <a class="default-btn" href="about.html">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Start Slider Content -->
      </div>
      <!-- End Slingle Slide -->
    </div>
  </section>
  <!-- Background Area End -->
  <!-- Notice Start -->
  <section class="notice-area pt-150 pb-150">
    <div class="container">
      <div class="row">
        <div class="col-md-6 accueil-component">
          <div class="notice-left notice">
            <h3>Informations capitales</h3>
            <div class="single-notice-left mb-25 pb-25">
              <h4>Etablissements</h4>
              <p>
                L'université Marien-Ngouabi est composée des facultés suivantes
                : <br /><br />

                la faculté de sciences et techniques (FST) <br />
                la faculté de sciences de la santé (FSSA) <br />
                la faculté des sciences économiques (FSE) <br />
                la faculté des lettres, des Arts et des sciences humaines
                (FLASH) <br />
                l'école normale supérieure (ENS) <br />
                institut supérieur de gestion (ISG) <br />
                institut supérieur d'éducation physique et sportive (ISEPS)
                <br />
                l'école nationale supérieure polytechnique (ENSP) <br />
                la faculté de droit (FD) <br />
                l'école nationale supérieure d'agronomie et de foresterie
                (ENSAF) <br />
                l'école nationale d'administration et de magistrature (ENAM)
                <br />
              </p>
            </div>
            <div class="single-notice-left mb-25 pb-25">
              <h4>Admission</h4>
              <p>
                Deux voies d’admission sont possibles à l'UMNG: <br /><br />
                Une admission sur titre pour les titulaires des diplômes requis
                pour chaque programme de formation. Ce mode d’admission concerne
                les facultés de l’UMNG (à l’exception de la Faculté des sciences
                de la santé où l’admission est soumise à un concours).
                <br /><br />
                Une admission sur concours. On distingue des concours dits
                externes pour les nouveaux bacheliers et des concours dits
                internes pour les fonctionnaires de l’Etat. Ce mode d’admission
                est propre aux écoles et instituts de l’UMNG. Des quotas sont
                réservés aux étrangers dans les différents concours organisés à
                l’UMNG.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="notice-right">
            <div class="single-notice-right mb-25 pb-25">
              <h3>ENSEIGNANT PROFESSIONNEL</h3>
              <p>
                Nous sommes fiers de vous offrir une éducation de haute qualité.
                L'un des piliers fondamentaux de notre institution est notre
                corps professoral composé d'enseignants professionnels,
                compétents et passionnés.
              </p>
            </div>
            <div class="single-notice-right mb-25 pb-25">
              <h3>Cours en ligne</h3>
              <p>
                À notre université, nous comprenons l'importance de
                l'apprentissage en ligne et nous nous engageons à offrir une
                expérience éducative exceptionnelle à nos étudiants à distance
              </p>
            </div>
            <div class="single-notice-right">
              <h3>facile à ajouter</h3>
              <p>
                L'admission à notre université est un processus simple et
                accessible. Nous avons mis en place des mesures pour rendre le
                processus d'admission aussi facile que possible, afin de
                permettre à un large éventail d'étudiants talentueux de
                rejoindre notre institution.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Notice End -->
  <!-- Choose Start -->
  <section class="choose-area pb-85 pt-77">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-left-4">
          <div class="choose-content text-start">
            <h2>CHOISIR UNIVERSITE MARIEN N'GOUABI ?</h2>
            <p>
              Choisir notre université, c'est opter pour une formation
              d'excellence, des enseignants compétents et des infrastructures
              modernes. Vous bénéficierez d'un environnement d'apprentissage
              stimulant qui favorise la réussite académique. Rejoignez notre
              communauté dynamique et profitez des opportunités de recherche, de
              stage et de réseautage professionnel. Nous sommes là pour vous
              accompagner dans votre parcours et vous aider à atteindre vos
              objectifs. Faites le choix de l'excellence et de l'épanouissement
              en rejoignant notre université.
            </p>
            <p class="choose-option">
              Si vous êtes en train de lire ces lignes, c'est que vous vous
              trouvez à la croisée des chemins, sur le point de prendre une
              décision importante quant à votre parcours universitaire.
            </p>
            <a class="default-btn" href="course-details.html">voir les cours</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Choose Area End -->
  <!-- Courses Area Start -->
  <div class="courses-area pt-150 text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <img src="assets/img/icon/section.png" alt="section-title" />
            <h2>COURS QUE NOUS PROPOSONS</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-course">
            <div class="course-img">
              <a href="course-details.html"
                ><img src="assets/img/umng/juge2.avif" alt="course" />
                <div class="course-hover">
                  <i class="fa fa-link"></i>
                </div>
              </a>
            </div>
            <div class="course-content">
              <h3><a href="course-details.html">CSE ENGINEERING</a></h3>
              <p>
                I must explain to you how all this a mistaken idea of denouncing
                great explorer of the rut the is lder of human happiness
              </p>
              <a class="default-btn" href="course-details.html">Lire plus</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-course">
            <div class="course-img">
              <a href="course-details.html"
                ><img src="assets/img/umng/mathspure.avif" alt="course" />
                <div class="course-hover">
                  <i class="fa fa-link"></i>
                </div>
              </a>
            </div>
            <div class="course-content">
              <h3><a href="course-details.html">CSE ENGINEERING</a></h3>
              <p>
                I must explain to you how all this a mistaken idea of denouncing
                great explorer of the rut the is lder of human happiness
              </p>
              <a class="default-btn" href="course-details.html">Lire plus</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-course mb-0">
            <div class="course-img">
              <a href="course-details.html"
                ><img src="assets/img/umng/literature.avif" alt="course" />
                <div class="course-hover">
                  <i class="fa fa-link"></i>
                </div>
              </a>
            </div>
            <div class="course-content">
              <h3><a href="course-details.html">CSE ENGINEERING</a></h3>
              <p>
                I must explain to you how all this a mistaken idea of denouncing
                great explorer of the rut the is lder of human happiness
              </p>
              <a class="default-btn" href="course-details.html">Lire plus</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Courses Area End -->
  <!-- Event Area Start -->
  <div class="event-area one text-center pt-140 pb-150">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <img src="assets/img/icon/section.png" alt="section-title" />
            <h2>ÉVÉNEMENTS UMNG</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="single-event mb-35">
            <div class="event-date">
              <h3>
                <a href="event-details.html">UNIV <span>umng</span></a>
              </h3>
            </div>
            <div class="event-content text-start">
              <div class="event-content-left">
                <h4>
                  <a href="event-details.html">COOPERATION UMNG et l'IFASIC</a>
                </h4>
                <ul>
                  <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                  <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                </ul>
              </div>
              <div class="event-content-right">
                <a class="default-btn" href="event-details.html">Adhérer </a>
              </div>
            </div>
          </div>
          <div class="single-event mb-35">
            <div class="event-date">
              <h3>
                <a href="event-details.html">UNIV <span>umng</span></a>
              </h3>
            </div>
            <div class="event-content text-start">
              <div class="event-content-left">
                <h4>
                  <a href="event-details.html"
                    >convention entre UMNG et Perenco</a
                  >
                </h4>
                <ul>
                  <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                  <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                </ul>
              </div>
              <div class="event-content-right">
                <a class="default-btn" href="event-details.html">Adhérer </a>
              </div>
            </div>
          </div>
          <div class="single-event mb-35">
            <div class="event-date">
              <h3>
                <a href="event-details.html">UNIV <span>umng</span></a>
              </h3>
            </div>
            <div class="event-content text-start">
              <div class="event-content-left">
                <h4>
                  <a href="event-details.html">Convention entre UMNG-CIESPAC</a>
                </h4>
                <ul>
                  <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                  <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                </ul>
              </div>
              <div class="event-content-right">
                <a class="default-btn" href="event-details.html">Adhérer </a>
              </div>
            </div>
          </div>
          <div class="single-event">
            <div class="event-date">
              <h3>
                <a href="event-details.html">UNIV <span>umng</span></a>
              </h3>
            </div>
            <div class="event-content text-start">
              <div class="event-content-left">
                <h4>
                  <a href="event-details.html"
                    >NOUVEL ESPACE UNIVERSITAIRE campus</a
                  >
                </h4>
                <ul>
                  <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                  <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                </ul>
              </div>
              <div class="event-content-right">
                <a class="default-btn" href="event-details.html">Adhérer</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0">
          <div class="single-event mb-35">
            <div class="event-date">
              <h3>
                <a href="event-details.html">UNIV <span>umng</span></a>
              </h3>
            </div>
            <div class="event-content text-start">
              <div class="event-content-left">
                <h4>
                  <a href="event-details.html"
                    >ANNALES UNIVERSITE MARIEN NGOUABI</a
                  >
                </h4>
                <ul>
                  <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                  <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                </ul>
              </div>
              <div class="event-content-right">
                <a class="default-btn" href="event-details.html">Adhérer</a>
              </div>
            </div>
          </div>
          <div class="single-event mb-35">
            <div class="event-date">
              <h3>
                <a href="event-details.html">UNIV <span>umng</span></a>
              </h3>
            </div>
            <div class="event-content text-start">
              <div class="event-content-left">
                <h4>
                  <a href="event-details.html">
                    projet Gouvernance académique</a
                  >
                </h4>
                <ul>
                  <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                  <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                </ul>
              </div>
              <div class="event-content-right">
                <a class="default-btn" href="event-details.html">Adhérer</a>
              </div>
            </div>
          </div>
          <div class="single-event mb-35">
            <div class="event-date">
              <h3>
                <a href="event-details.html">UNIV <span>umng</span></a>
              </h3>
            </div>
            <div class="event-content text-start">
              <div class="event-content-left">
                <h4>
                  <a href="event-details.html">accord entre l'UMNG et CAMES</a>
                </h4>
                <ul>
                  <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                  <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                </ul>
              </div>
              <div class="event-content-right">
                <a class="default-btn" href="event-details.html">Adhérer</a>
              </div>
            </div>
          </div>
          <div class="single-event">
            <div class="event-date">
              <h3>
                <a href="event-details.html">UNIV <span>umng</span></a>
              </h3>
            </div>
            <div class="event-content text-start">
              <div class="event-content-left">
                <h4>
                  <a href="event-details.html">accord entre l'UMNG et CESAG</a>
                </h4>
                <ul>
                  <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                  <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                </ul>
              </div>
              <div class="event-content-right">
                <a class="default-btn" href="event-details.html">Adhérer</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Event Area End -->
  <!-- Testimonial Area Start -->
  <div class="testimonial-area pt-110 pb-105 text-center">
    <div class="container">
      <div class="row">
        <div class="testimonial-owl owl-theme owl-carousel">
          <div class="col-lg-8 offset-lg-2">
            <div class="single-testimonial">
              <div class="testimonial-info">
                <div class="testimonial-img">
                  <img src="assets/img/umng/et.avif" alt="testimonial" />
                </div>
                <div class="testimonial-content">
                  <p>
                    Nous sommes ravis de vous compter dans notre université et bénéficier les avantages que nous offrons aux étudiants. Chez nous, votre réussite et votre épanouissement académique sont au cœur de nos préoccupations.
                  </p>
                  <h4>Siméon POUNGUI</h4>
                  <h5>Etudiant, FST INFO</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Testimonial Area End -->
  <!-- Blog Area Start -->
  <div class="blog-area pt-150 pb-150">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title text-center">
            <img src="assets/img/icon/section.png" alt="section-title" />
            <h2>DERNIÈRES DU BLOG</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-blog">
            <div class="blog-img">
              <a href="blog-details.html"
                ><img src="assets/img/umng/img-20210720-wa0038.jpg" alt="blog"
              /></a>
              <div class="blog-hover">
                <a href="blog-details.html"><i class="fa fa-link"></i></a>
              </div>
            </div>
            <div class="blog-content">
              <div class="blog-top">
                <p>
                  université marien n'gouabi /
                  <i class="fa fa-comments-o"></i> 4
                </p>
              </div>
              <div class="blog-bottom">
                <h2>
                  <a href="blog-details.html"
                    >I must explain to you how all this a mistaken idea
                  </a>
                </h2>
                <a href="blog-details.html">Lire plus</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-blog">
            <div class="blog-img">
              <a href="blog-details.html"
                ><img
                  src="assets/img/umng/les_nouveaux_bacheliers_en_train_de_sinformer.jpg"
                  alt="blog"
              /></a>
              <div class="blog-hover">
                <a href="blog-details.html"><i class="fa fa-link"></i></a>
              </div>
            </div>
            <div class="blog-content">
              <div class="blog-top">
                <p>
                  université marien n'gouabi /
                  <i class="fa fa-comments-o"></i> 8
                </p>
              </div>
              <div class="blog-bottom">
                <h2>
                  <a href="blog-details.html"
                    >I must explain to you how all this a mistaken idea
                  </a>
                </h2>
                <a href="blog-details.html">Lire plus</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-blog mb-0">
            <div class="blog-img">
              <a href="blog-details.html"
                ><img src="assets/img/umng/umng.jpg" alt="blog"
              /></a>
              <div class="blog-hover">
                <a href="blog-details.html"><i class="fa fa-link"></i></a>
              </div>
            </div>
            <div class="blog-content">
              <div class="blog-top">
                <p>
                  université marien n'gouabi /
                  <i class="fa fa-comments-o"></i> 12
                </p>
              </div>
              <div class="blog-bottom">
                <h2>
                  <a href="blog-details.html"
                    >I must explain to you how all this a mistaken idea
                  </a>
                </h2>
                <a href="blog-details.html">Lire plus</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Blog Area End -->
  <!-- Subscribe Start -->
  <div class="subscribe-area pt-60 pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="subscribe-content section-title text-center">
            <h2>ABONNEZ-VOUS À NOTRE NEWSLETTER</h2>
            <p>Abonnez-vous des maintenant</p>
          </div>
          <div class="newsletter-form mc_embed_signup">
            <form
              action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef"
              method="post"
              id="mc-embedded-subscribe-form"
              name="mc-embedded-subscribe-form"
              class="validate"
              target="_blank"
              novalidate
            >
              <div id="mc_embed_signup_scroll" class="mc-form">
                <input
                  type="email"
                  value=""
                  name="EMAIL"
                  class="email"
                  id="mce-EMAIL"
                  placeholder="Entrez votre adresse email"
                  required
                />
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div class="mc-news" aria-hidden="true">
                  <input
                    type="text"
                    name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef"
                    tabindex="-1"
                    value=""
                  />
                </div>
                <button
                  id="mc-embedded-subscribe"
                  class="default-btn"
                  type="submit"
                  name="subscribe"
                >
                  <span>s'abonner</span>
                </button>
              </div>
            </form>
            <!-- mailchimp-alerts Start -->
            <div class="mailchimp-alerts">
              <div class="mailchimp-submitting"></div>
              <!-- mailchimp-submitting end -->
              <div class="mailchimp-success"></div>
              <!-- mailchimp-success end -->
              <div class="mailchimp-error"></div>
              <!-- mailchimp-error end -->
            </div>
            <!-- mailchimp-alerts end -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Subscribe End -->
  <!-- Footer Start -->
  <footer class="footer-area">
    <div class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="single-widget text-center pr-60">
              <div class="footer-logo pb-25">
                <a href="index.html"
                  ><img
                    src="assets/img/umng/logo.png"
                    style="width: 55%"
                    alt="eduhome"
                /></a>
              </div>
              <div class="footer-social" style="margin-top: -30px !important">
                <ul>
                  <li>
                    <a href="https://www.facebook.com/devitems/?ref=bookmarks"
                      ><i class="zmdi zmdi-facebook"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://www.pinterest.com/devitemsllc/"
                      ><i class="zmdi zmdi-pinterest"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"><i class="zmdi zmdi-vimeo"></i></a>
                  </li>
                  <li>
                    <a href="https://twitter.com/devitemsllc"
                      ><i class="zmdi zmdi-twitter"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="single-widget">
              <h3>information</h3>
              <ul>
                <li><a href="#">admission</a></li>
                <li><a href="#">Calendrier académique</a></li>
                <li><a href="event.html">Liste des événements</a></li>
                <li><a href="#">Etablissements</a></li>
                <li><a href="#">Calendrier</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 pt-4 pt-lg-0">
            <div class="single-widget">
              <h3>Liens utiles</h3>
              <ul>
                <li><a href="course.html">nos cours</a></li>
                <li><a href="about.html">à propos de nous</a></li>
                <li><a href="teacher.html">enseignants &amp; facultés</a></li>
                <li><a href="#">équipes &amp; conditions</a></li>
                <li><a href="event.html">nos événements</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 pt-4 pt-lg-0">
            <div class="single-widget">
              <h3>entrer en contact</h3>
              <p>
                Your address goes here, Street<br />City, Roadno 785 New York
              </p>
              <p>+880 548 986 898 87<br />+880 659 785 658 98</p>
              <p>info@eduhome.com<br />www.eduhome.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>
              Copyright © <a href="index.html">Eduhome</a> 2022. All Right
              Reserved By
              <a
                href="https://themeforest.net/user/hastech/portfolio"
                target="_blank"
                >Hastech.</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
