<div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-left text-upercase">
            <h2>
              {{ action === "view" ? "Fiche  de paiement de" : "" }}
              {{ action === "edit" ? "Modification du paiement de " : "" }}
              {{ action === "view" || action === "edit" ? nom : "" }}
              {{ !action ? "Ajouter un paiement" : "" }}
            </h2>
          </h3>
          <form
            #produitForm="ngForm"
            (ngSubmit)="onSubmitForm(produitForm)"
            class="g-3 needs-validation"
          >
            <div class="row mt-4">
              <div class="col-lg-4">
                <label for="validationCustom01" class="form-label">nom</label>
                <input
                  [readonly]="action == 'view'"
                  type="text"
                  class="form-control hauteur hauteur"
                  name="nom"
                  [(ngModel)]="nom"
                  required=""
                />
              </div>
              <div class="col-lg-4">
                <label for="validationCustom02" class="form-label"
                  >prénom</label
                >
                <input
                  [readonly]="action == 'view'"
                  type="text"
                  class="form-control hauteur"
                  name="prenom"
                  [(ngModel)]="prenom"
                  required=""
                />
              </div>
  
              <div class="col-lg-4">
                <label for="validationCustom02" class="form-label">email</label>
                <input
                  [readonly]="action == 'view'"
                  type="text"
                  class="form-control hauteur"
                  name="email"
                  [(ngModel)]="email"
                  required=""
                />
              </div>
            </div>

            <div class="row mt-3">
                <div class="col-lg-4">
                  <label for="validationCustom01" class="form-label">options</label>
                  <input
                    [readonly]="action == 'view'"

                    type="text"
                    class="form-control hauteur hauteur"
                    name="options"
                    [(ngModel)]="options"
                    required=""
                  />
                </div>
                <div class="col-lg-4">
                  <label for="validationCustom02" class="form-label"
                    >date de naissance</label
                  >
                  <input
                    [readonly]="action == 'view'"
                    type="date"
                    class="form-control hauteur"
                    name="date_de_naissance"
                    [(ngModel)]="date_de_naissance"
                    required=""
                  />
                </div>
    
                <div class="col-lg-4">
                  <label for="validationCustom02" class="form-label">telephone</label>
                  <input
                    [readonly]="action == 'view'"
                    type="text"
                    class="form-control hauteur"
                    name="telephone"
                    [(ngModel)]="telephone"
                    required=""
                  />
                </div>
              </div>
  
            <div class="row mt-4">
  
              <div class="col-lg-4">
                <label for="validationCustom02" class="form-label">genre</label>
                <input
                  [readonly]="action == 'view'"
                  type="text"
                  class="form-control hauteur"
                  name="genre"
                  [(ngModel)]="genre"
                  required=""
                />
              </div>
  
              <div class="col-lg-4">
                <label for="validationCustom05" class="form-label">domaine</label>
                <input
                  [readonly]="action == 'view'"
                  type="text"
                  class="form-control hauteur"
                  name="domaine"
                  [(ngModel)]="domaine"
                  required=""
                />
                
              </div>
  
              <div class="col-lg-4">
                  <label for="validationCustom05" class="form-label">specialite</label>
                  <input
                    [readonly]="action == 'view'"
                    type="text"
                    class="form-control hauteur"
                    name="specialite"
                    [(ngModel)]="specialite"
                    required=""
                  />
                
                </div>
            </div>

            <div class="row mt-4">
  
                <div class="col-lg-4">
                  <label for="validationCustom02" class="form-label">adresse</label>
                  <input
                    [readonly]="action == 'view'"
                    type="text"
                    class="form-control hauteur"
                    name="adresse"
                    [(ngModel)]="adresse"
                    required=""
                  />
                </div>
    
                <div class="col-lg-4">
                  <label for="validationCustom05" class="form-label">cycle</label>
                  <input
                    [readonly]="action == 'view'"
                    type="email"
                    class="form-control hauteur"
                    name="cycle"
                    [(ngModel)]="cycle"
                    required=""
                  />
                  
                </div>

                <div class="col-lg-4">
                    <label for="validationCustom05" class="form-label">montant</label>
                    <input
                      [readonly]="action == 'view'"
                      type="email"
                      class="form-control hauteur"
                      name="montant"
                      [(ngModel)]="montant"
                      required=""
                    />
                    
                  </div>
              </div>


              <div class="row mt-4">
  
                <div class="col-lg-12">
                  <label for="validationCustom02" class="form-label">niveau</label>
                  <input
                    [readonly]="action == 'view'"
                    type="text"
                    class="form-control hauteur"
                    name="niveau"
                    [(ngModel)]="niveau"
                    required=""
                  />
                </div>
      
              </div>
            
            <div class="col-12 mt-5" *ngIf="action !== 'view'">
              <button
                type="submit"
                *ngIf="!isLoading; else loading"
                class="btn bg-primary form-control text-white btn-primary"
              >
                {{ action === "edit" ? "Modifier" : "Enregistré"}}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div class="fa-3x text-center mb-2 mt-2">
      <span class="fs-5 mb-2 mt-2"></span> <br /><br />
      <i class="fas text-primary  spinner-grow"></i><br />
    </div>
  </ng-template>
  